body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}